<div class="row">
    <div class="col-sm-6">
        <img src="MintoLogo.png">
    </div>

    <div class="col-sm-6">
        <h1><%= @cookclass[:title] %></h1>
            <h11><%= @cookclass[:price] %> <small>per seat</small></h11>
            <p><h5>On the Menu </h5><%= @cookclass[:description] %></p>
            <p><h5>Instructor </h5><%= @cookclass[:instructor] %></p>
            <hr>
            <p><h5>What you'll learn </h5><%= @cookclass[:longdescription] %></p>
            <hr>
            <h3><%= @cookclass[:when] %></h3>
            <h3><%= @cookclass[:location] %></h3>

            <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw&q=<%= "#{@lat_long[0]} #{@lat_long[1]}" %>&zoom=14" allowfullscreen>
            </iframe>

            <% for rsvp in @rsvps %>
            <div class="media">
                <% if rsvp[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0">
                        <%= @users_table.where(id: rsvp[:user_id]).to_a[0][:name] %>

                        <small>
                            <!-- only show these links if it's my rsvp -->
                            <% if @current_user && @current_user[:id] == rsvp[:user_id] %>
                                (<a href="/rsvps/<%= rsvp[:id] %>/edit">edit</a> | <a href="/rsvps/<%= rsvp[:id] %>/destroy">delete</a>)
                            <% end %>
                        </small>
                    </h5>
                    <%= rsvp[:comments] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <% if @current_user %>
                <a href="/cookclasses/<%= @cookclass[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to RSVP</a>
            <% end %>
        </p>
    </div>
</div>

